
.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    scroll-margin:70px;
    margin-bottom: 50px;


}

.title > h1 {
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 400;
}

.about-container{
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.about-left{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
}

.about-portrait{
    height: 200px;
    width: 200px;
    border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 16px -3px;

    object-fit: cover;

    


}
.about-left > p{
    
    width: 300px;

}
.about-right{
    width: 300px;
    align-self: center;
}


.about-languages{
    display: flex;
    flex-direction:row;
justify-content: center;

}

.about-language-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}