
.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    scroll-margin:70px;
    margin-bottom: 50px;


}


.projects-container{
    display: flex;
    flex-direction: column;

}